/*General*/

:root {
    --hero-nav-gradient: linear-gradient(rgb(129, 129, 129) 50%, rgb(90, 90, 90) 50% 65%, rgb(116, 116, 116));
    --hero-nav-gradient-hover: linear-gradient(rgb(105, 105, 105) 50%, rgb(66, 66, 66) 50% 65%, rgb(83, 83, 83));
}

/*Hero*/

#hero {
    position: relative;
    background: url(../images/joshua-lawrence-hk8W-TSoSU4-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 538px;
    color: #ffffff;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    width: 100%;
    min-width: 1024px;
}

#hero-nav {
    position: relative;
    width: 1000px;
    height: 36px;
    top: 20px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgb(87, 87, 87);
    display: grid;
    grid-template-columns: repeat(7, 1fr) 150px;
    background: var(--hero-nav-gradient);
    box-shadow: 1px 1px rgba(49, 49, 49, 0.225);
    border-radius: 4px;
    z-index: 10;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    text-shadow: 1px 1px rgba(73, 73, 73, 0.356);
}

#hero-nav > * {
    border-left: 2px groove rgb(104, 103, 103);
    padding-top: 12px;
    color: #ffffff;
    text-decoration: none;
}

#hero-nav a:hover {
    background: var(--hero-nav-gradient-hover);
}

#hero-nav form {
    padding-top: 8px;
    position: relative;
}

#hero-nav form .fa-search {
    position: absolute;
    top: 1em;
    left: 0.8em;
}

#hero-nav a:first-child {
    border-left: none;
}

#hero-nav input {
    border: 2px inset rgb(88, 88, 88);
    border-radius: 10px;
    width: 100px;
    background: var(--hero-nav-gradient);
    padding: 0px 20px;
}

#hero-nav input:focus {
    background: white;
    color: black;
}

#hero-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 1024px;
    margin: 0 auto;
}

#hero-header > * {
    margin: 0 auto;
}

#hero-header .title {
    font-size: 4em;
    margin-bottom: 1em;
    width: 900px;
}

#hero-header .subtitle {
    font-size: 2.5em;
    margin-bottom: 1em;
    width: 1000px;
}

#hero-header .content {
    font-size: 1.5em;
    width: 1000px;
}

#hero-header .content:hover {
    text-decoration: underline;
    cursor: pointer;
}

#hero-header .fa-play-circle {
    font-size: 30px;
}

/*Promo Nav*/

#promo-nav {
    display: flex;
    height: 200px;
    min-width: 1024px;
}

#promo-nav > * {
    flex: 1 1 25%;
}

#promo-nav .promo-1 {
    background: url(../images/nadine-marfurt-iZGNIVD9OoM-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#promo-nav .promo-2 {
    background: url(../images/nadine-marfurt-y_ySHRV_7IU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#promo-nav .promo-3 {
    background: url(../images/wu-yi-OB6l-cyjBWc-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#promo-nav .promo-4 {
    background: url(../images/wu-yi-sPcvV6CrFKk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Footer*/

footer {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 20px;
    justify-content: center;
    justify-items: left;
    width: 100%;
    min-width: 1024px;
    font-size: 11px;
    text-align: center;
    text-align: left;
    padding: 20px 0px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(110, 110, 110);
}

footer > * {
    width: 100%;
}

footer a {
    color: rgb(0, 136, 204);
}

footer .left {
    grid-column: 1;
}

footer .right {
    grid-column: 2;
}
